In [1]:
import pandas as pd

In [23]:
df_meta = pd.read_csv(r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Análisis\rql_inversiones\outputs\March\27032025\df_meta_ads.csv")

In [24]:
semana_13 = df_meta[df_meta["Semana"] == 12]

In [25]:
semana_13.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2134 entries, 32666 to 34799
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2134 non-null   object
 1   Campaign ID    2134 non-null   int64
 2   Campaign name  2134 non-null   object
 3   Ad set ID      2134 non-null   int64
 4   Ad set name    2134 non-null   object
 5   Ad ID          2134 non-null   int64
 6   Ad name        2134 non-null   object
 7   Region         2134 non-null   object
 8   Impressions    2134 non-null   float64
 9   Link clicks    1409 non-null   float64
 10  Cost           2134 non-null   float64
 11  Cost (USD)     2134 non-null   float64
 12  Marca          2134 non-null   object
 13  Semana         2134 non-null   int64
 14  Año            2134 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 266.8+ KB

In [26]:
semana_13.head(2)

,Date,Campaign ID,Campaign name,Ad set ID,Ad set name,Ad ID,Ad name,Region,Impressions,Link clicks,Cost,Cost (USD),Marca,Semana,Año
32666,2025-03-17,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Campeche,37.0,NaN,0.50,0.03,Vento,12,2025
32667,2025-03-17,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Colima,16.0,NaN,0.29,0.01,Vento,12,2025

In [27]:
# Agrupar por Marca, Semana y Año, y sumar el costo
resumen_por_marca_semana_año = df_meta.groupby(['Marca', 'Semana', 'Año'])['Cost'].sum().reset_index()
resumen_por_marca_semana_año = resumen_por_marca_semana_año.sort_values(['Año', 'Semana', 'Cost'], ascending=[True, True, False])

# Mostrar el resultado
print("Suma de Costo por Marca, Semana y Año:")
print(resumen_por_marca_semana_año)

# También calculamos el resumen solo por marca para comparación
resumen_por_marca = df_meta.groupby('Marca')['Cost'].sum().reset_index()
resumen_por_marca = resumen_por_marca.sort_values('Cost', ascending=False)
print("\nSuma de Costo por Marca (total):")
print(resumen_por_marca)

# También calculamos el resumen por marca y año
resumen_por_marca_año = df_meta.groupby(['Marca', 'Año'])['Cost'].sum().reset_index()
resumen_por_marca_año = resumen_por_marca_año.sort_values(['Año', 'Cost'], ascending=[True, False])
print("\nSuma de Costo por Marca y Año:")
print(resumen_por_marca_año)

# Mostramos el dataframe original para referencia
df_meta

Suma de Costo por Marca, Semana y Año:
        Marca  Semana   Año      Cost
31   Generica       1  2024  18175.51
0       Bajaj       1  2024  16241.52
50      Honda       1  2024   9386.18
106     Vento       1  2024   2269.72
87        TVS       1  2024   1724.43
..        ...     ...   ...       ...
126    Yamaha      13  2025   8398.18
100       TVS      13  2025   6407.92
30    CF Moto      13  2025   4545.54
81    Italika      13  2025   2342.33
119     Vento      13  2025    188.16

[127 rows x 4 columns]

Suma de Costo por Marca (total):
      Marca        Cost
2  Generica  1495259.58
0     Bajaj  1113422.81
3     Honda   659479.51
6     Vento   146512.91
1   CF Moto   136357.88
4   Italika   115498.61
5       TVS   115109.61
7    Yamaha    16567.58

Suma de Costo por Marca y Año:
       Marca   Año        Cost
3   Generica  2024   427869.35
0      Bajaj  2024   274729.18
5      Honda  2024   155729.52
7    Italika  2024    69983.64
11     Vento  2024    26342.48
9        TVS  2024    16411.14
4   Generica  2025  1067390.23
1      Bajaj  2025   838693.63
6      Honda  2025   503749.99
2    CF Moto  2025   136357.88
12     Vento  2025   120170.43
10       TVS  2025    98698.47
8    Italika  2025    45514.97
13    Yamaha  2025    16567.58

,Date,Campaign ID,Campaign name,Ad set ID,Ad set name,Ad ID,Ad name,Region,Impressions,Link clicks,Cost,Cost (USD),Marca,Semana,Año
0,2024-12-01,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Campeche,37.0,NaN,0.82,0.04,Vento,48,2024
1,2024-12-01,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Colima,13.0,NaN,0.57,0.03,Vento,48,2024
2,2024-12-01,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Distrito Federal,335.0,2.0,9.50,0.47,Vento,48,2024
3,2024-12-01,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Durango,6.0,NaN,0.18,0.01,Vento,48,2024
4,2024-12-01,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Guanajuato,73.0,NaN,1.93,0.09,Vento,48,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36300,2025-03-27,120225456115740059,AO | 1 | Abierta| RQL | Urbe Puebla| 18 + años,120225456115720059,Top Performance,120225456115940059,LaGochaMexicanaVideo,State of Mexico,1.0,NaN,0.02,0.00,Generica,13,2025
36301,2025-03-27,120225456115740059,AO | 1 | Abierta| RQL | Urbe Puebla| 18 + años,120225456115720059,Top Performance,120225456115940059,LaGochaMexicanaVideo,Tlaxcala,38.0,NaN,0.62,0.03,Generica,13,2025
36302,2025-03-27,120225456115740059,AO | 1 | Abierta| RQL | Urbe Puebla| 18 + años,120225456115720059,Top Performance,120225456115950059,00000002-V1-CompraMotoEnMinutos,Puebla,133.0,4.0,4.13,0.20,Generica,13,2025
36303,2025-03-27,120225456115740059,AO | 1 | Abierta| RQL | Urbe Puebla| 18 + años,120225456115720059,Top Performance,120225456115950059,00000002-V1-CompraMotoEnMinutos,State of Mexico,1.0,NaN,0.01,0.00,Generica,13,2025
36304,2025-03-27,120225456115740059,AO | 1 | Abierta| RQL | Urbe Puebla| 18 + años,120225456115720059,Top Performance,120225456115950059,00000002-V1-CompraMotoEnMinutos,Tlaxcala,8.0,NaN,0.28,0.01,Generica,13,2025

In [28]:
resumen_por_marca_semana_año

        Marca  Semana   Año      Cost
31   Generica       1  2024  18175.51
0       Bajaj       1  2024  16241.52
50      Honda       1  2024   9386.18
106     Vento       1  2024   2269.72
87        TVS       1  2024   1724.43
..        ...     ...   ...       ...
126    Yamaha      13  2025   8398.18
100       TVS      13  2025   6407.92
30    CF Moto      13  2025   4545.54
81    Italika      13  2025   2342.33
119     Vento      13  2025    188.16

[127 rows x 4 columns]

In [34]:
# Filtrar para la semana 12
semana_12 = resumen_por_marca_semana_año[resumen_por_marca_semana_año["Semana"] == 12]

# Mostrar el dataframe filtrado
print("Datos de la semana 12:")
print(semana_12)

# Calcular y mostrar el total de Cost para la semana 12
total_cost_semana_12 = semana_12['Cost'].sum()
print(f"\nTotal de Cost para la semana 12: {total_cost_semana_12:.2f}")

Datos de la semana 12:
        Marca  Semana   Año      Cost
43   Generica      12  2025  99489.41
12      Bajaj      12  2025  85598.39
62      Honda      12  2025  43791.99
29    CF Moto      12  2025  17085.05
99        TVS      12  2025  11709.61
125    Yamaha      12  2025   8169.40
80    Italika      12  2025   4012.08
118     Vento      12  2025    344.62

Total de Cost para la semana 12: 270200.55

In [33]:
total_cost_semana_12

np.float64(270200.55)