In [1]:
import pandas as pd

In [4]:
df_google_ads = pd.read_csv(r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Análisis\rql_inversiones\outputs\March\31032025\df_google_ads.csv")

In [5]:
df_meta = pd.read_csv(r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Análisis\rql_inversiones\outputs\March\31032025\df_meta_ads.csv")

In [6]:
df_google_ads.head(2)

,Date,Campaign ID,Campaign name,Ad group ID,Ad group name,Advertising channel type,Region,Impressions,Clicks,Cost,Cost (USD),Marca,Semana,Año
0,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Coahuila,1,1,7.35,0.36,Suzuki,48,2024
1,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Jalisco,47,0,0.00,0.00,Suzuki,48,2024

In [7]:
df_meta.head(2)

,Date,Campaign ID,Campaign name,Ad set ID,Ad set name,Ad ID,Ad name,Region,Impressions,Link clicks,Cost,Cost (USD),Marca,Semana,Año
0,2024-12-01,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Campeche,37.0,NaN,0.82,0.04,Vento,48,2024
1,2024-12-01,120211503602490059,AO | 4 | Action | ReferrerFormCompleted | MX |...,120211503602520059,ReferidosLanding,120216608352680059,VideoReferidosVento,Colima,13.0,NaN,0.57,0.03,Vento,48,2024

In [10]:
df_rql_per_state_and_brand_geo = pd.read_csv(r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Análisis\rql_inversiones\df_rql_per_state_and_brand_merged_con_geo.csv")

In [14]:
df_google_ads.head(2)

,Date,Campaign ID,Campaign name,Ad group ID,Ad group name,Advertising channel type,Region,Impressions,Clicks,Cost,Cost (USD),Marca,Semana,Año
0,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Coahuila,1,1,7.35,0.36,Suzuki,48,2024
1,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Jalisco,47,0,0.00,0.00,Suzuki,48,2024

In [19]:
df_google_ads["Region"].unique()

array(['Coahuila', 'Jalisco', 'Mexico City', 'Nuevo Leon', 'Oaxaca',
       'Puebla', 'Quintana Roo', 'State of Mexico', 'Tlaxcala',
       'Veracruz', 'Yucatan', 'Morelos', 'Campeche', 'Colima', 'Durango',
       'Guanajuato', 'Guerrero', 'Michoacan', 'Nayarit', 'Queretaro',
       'San Luis Potosi', 'Sinaloa', 'Tabasco', 'Sonora', 'Hidalgo',
       'Antioquia', 'Montevideo Department', 'Zacatecas',
       'Comarca Metropolitana de Sevilla', 'Tamaulipas', 'England'],
      dtype=object)

In [23]:
df_rql_per_state_and_brand_geo["GAds"].unique()

array(['State of Mexico', 'Jalisco', 'Puebla', 'Quintana Roo', 'Oaxaca',
       'Veracruz', 'Morelos', 'Guanajuato', 'Nuevo Leon', 'Michoacan',
       'Yucatan', 'Queretaro', 'Tlaxcala', 'San Luis Potosi', 'Hidalgo',
       'Tabasco', 'Guerrero', 'Colima', 'Tamaulipas', 'Nayarit',
       'Campeche', 'Aguascalientes', 'Chihuahua', 'Baja California Sur',
       'Sinaloa', 'Baja California', 'Zacatecas', 'Durango', 'Sonora'],
      dtype=object)

In [20]:
df_rql_per_state_and_brand_geo[df_rql_per_state_and_brand_geo["GAds"] == "Coahuila"]

Empty DataFrame
Columns: [publication_code, brand, state, day, mx_rql_online_by_ls, Semana, Año, Amplitude_ips, Meta, GAds, TikTok]
Index: []

In [13]:
df_rql_per_state_and_brand_geo.head(2)

,publication_code,brand,state,day,mx_rql_online_by_ls,Semana,Año,Amplitude_ips,Meta,GAds,TikTok
0,MX329-bajaj-pulsar-n-250,Bajaj,México,2025-03-24,28.0,13,2025,México,State of Mexico,State of Mexico,Mexico
1,MX329-bajaj-pulsar-n-250,Bajaj,México,2025-03-25,19.0,13,2025,México,State of Mexico,State of Mexico,Mexico

In [25]:
df_google_ads.columns

Index(['Date', 'Campaign ID', 'Campaign name', 'Ad group ID', 'Ad group name',
       'Advertising channel type', 'Region', 'Impressions', 'Clicks', 'Cost',
       'Cost (USD)', 'Marca', 'Semana', 'Año'],
      dtype='object')

In [29]:
df_rql_per_state_and_brand_geo

,publication_code,brand,state,day,mx_rql_online_by_ls,Semana,Año,Amplitude_ips,Meta,GAds,TikTok
0,MX329-bajaj-pulsar-n-250,Bajaj,México,2025-03-24,28.0,13,2025,México,State of Mexico,State of Mexico,Mexico
1,MX329-bajaj-pulsar-n-250,Bajaj,México,2025-03-25,19.0,13,2025,México,State of Mexico,State of Mexico,Mexico
2,MX329-bajaj-pulsar-n-250,Bajaj,México,2025-03-26,27.0,13,2025,México,State of Mexico,State of Mexico,Mexico
3,MX329-bajaj-pulsar-n-250,Bajaj,México,2025-03-27,22.0,13,2025,México,State of Mexico,State of Mexico,Mexico
4,MX329-bajaj-pulsar-n-250,Bajaj,México,2025-03-28,15.0,13,2025,México,State of Mexico,State of Mexico,Mexico
...,...,...,...,...,...,...,...,...,...,...,...
8801,MX960-suzuki-intruder,Suzuki,Quintana Roo,2025-03-26,0.0,13,2025,Quintana Roo,Quintana Roo,Quintana Roo,Quintana Roo
8802,MX960-suzuki-intruder,Suzuki,Quintana Roo,2025-03-27,0.0,13,2025,Quintana Roo,Quintana Roo,Quintana Roo,Quintana Roo
8803,MX960-suzuki-intruder,Suzuki,Quintana Roo,2025-03-28,0.0,13,2025,Quintana Roo,Quintana Roo,Quintana Roo,Quintana Roo
8804,MX960-suzuki-intruder,Suzuki,Quintana Roo,2025-03-29,0.0,13,2025,Quintana Roo,Quintana Roo,Quintana Roo,Quintana Roo
8805,MX960-suzuki-intruder,Suzuki,Quintana Roo,2025-03-30,0.0,13,2025,Quintana Roo,Quintana Roo,Quintana Roo,Quintana Roo

In [43]:
df_google_ads

,Date,Campaign ID,Campaign name,Ad group ID,Ad group name,Advertising channel type,Region,Impressions,Clicks,Cost,Cost (USD),Marca,Semana,Año
0,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Coahuila,1,1,7.35,0.36,Suzuki,48,2024
1,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Jalisco,47,0,0.00,0.00,Suzuki,48,2024
2,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Mexico City,152,15,36.69,1.80,Suzuki,48,2024
3,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Nuevo Leon,64,10,30.12,1.48,Suzuki,48,2024
4,2024-12-01,21016103032,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,158035194479,DSA Moto Suzuki,Search,Oaxaca,14,0,0.00,0.00,Suzuki,48,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11922,2025-03-31,22041761032,CampanaCredito,178415336369,Campaña Credito ky amplias,Search,Puebla,100,8,31.40,1.54,Generica,14,2025
11923,2025-03-31,22041761032,CampanaCredito,178415336369,Campaña Credito ky amplias,Search,Quintana Roo,53,2,20.31,0.99,Generica,14,2025
11924,2025-03-31,22041761032,CampanaCredito,178415336369,Campaña Credito ky amplias,Search,State of Mexico,612,73,312.18,15.29,Generica,14,2025
11925,2025-03-31,22041761032,CampanaCredito,178415336369,Campaña Credito ky amplias,Search,Tlaxcala,8,0,0.00,0.00,Generica,14,2025
11926,2025-03-31,22041761032,CampanaCredito,178415336369,Campaña Credito ky amplias,Search,Veracruz,32,2,5.69,0.28,Generica,14,2025

In [34]:
df_rql_per_state_and_brand_geo["brand"].unique()

array(['Bajaj', 'Honda', 'Vento', 'KTM', 'CF Moto', 'Italika', 'TVS',
       'Otra', 'Suzuki', 'Yamaha', 'Benelli', 'Hero', 'CFLITE',
       'Kawasaki', 'MB', 'Zmoto', 'Royal Enfield', 'Dinamo', 'Zontes',
       'Treck', 'Jiajue', 'Husqvarna', 'Kymco'], dtype=object)

In [35]:
df_google_ads["Marca"].unique()

array(['Suzuki', 'Bajaj', 'Honda', 'Yamaha', 'Vento', 'Generica',
       'Kawasaki', 'CF Moto', 'Zontes', 'TVS', 'MB'], dtype=object)

## Google Ads

In [46]:
df_google_ads_rqls = pd.merge(
    df_google_ads[["Date", "Campaign name", "Ad group name", "Region", "Impressions", "Clicks", "Cost", "Cost (USD)", "Marca"]], 
    df_rql_per_state_and_brand_geo[["publication_code", "brand", "state", "day", "GAds", "mx_rql_online_by_ls"]], 
    left_on=["Region", "Marca"], 
    right_on=["GAds", "brand"], 
    how="left"
)

In [47]:
df_google_ads_rqls

,Date,Campaign name,Ad group name,Region,Impressions,Clicks,Cost,Cost (USD),Marca,publication_code,brand,state,day,GAds,mx_rql_online_by_ls
0,2024-12-01,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,DSA Moto Suzuki,Coahuila,1,1,7.35,0.36,Suzuki,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-12-01,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,DSA Moto Suzuki,Jalisco,47,0,0.00,0.00,Suzuki,MX741-suzuki-sf-150,Suzuki,Jalisco,2025-03-24,Jalisco,0.0
2,2024-12-01,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,DSA Moto Suzuki,Jalisco,47,0,0.00,0.00,Suzuki,MX741-suzuki-sf-150,Suzuki,Jalisco,2025-03-25,Jalisco,0.0
3,2024-12-01,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,DSA Moto Suzuki,Jalisco,47,0,0.00,0.00,Suzuki,MX741-suzuki-sf-150,Suzuki,Jalisco,2025-03-26,Jalisco,0.0
4,2024-12-01,Search | DSA | Motos | Marcas RMK | CDMX-EDOME...,DSA Moto Suzuki,Jalisco,47,0,0.00,0.00,Suzuki,MX741-suzuki-sf-150,Suzuki,Jalisco,2025-03-27,Jalisco,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438240,2025-03-31,CampanaCredito,Campaña Credito ky amplias,Puebla,100,8,31.40,1.54,Generica,NaN,NaN,NaN,NaN,NaN,NaN
438241,2025-03-31,CampanaCredito,Campaña Credito ky amplias,Quintana Roo,53,2,20.31,0.99,Generica,NaN,NaN,NaN,NaN,NaN,NaN
438242,2025-03-31,CampanaCredito,Campaña Credito ky amplias,State of Mexico,612,73,312.18,15.29,Generica,NaN,NaN,NaN,NaN,NaN,NaN
438243,2025-03-31,CampanaCredito,Campaña Credito ky amplias,Tlaxcala,8,0,0.00,0.00,Generica,NaN,NaN,NaN,NaN,NaN,NaN
438244,2025-03-31,CampanaCredito,Campaña Credito ky amplias,Veracruz,32,2,5.69,0.28,Generica,NaN,NaN,NaN,NaN,NaN,NaN