In [19]:
import sys
sys.path.append('../')
import pandas as pd
from plataforms.investment_analyzer import InvestmentAnalyzer
from plataforms.tables_utils.invest import *

In [20]:
# Lectura del archivo de Meta
meta_ads_path = r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Análisis\rql_inversiones\BD Ads\Abril\14042025\MX BD Ads saturación mensual - Meta.csv"

# Lectura del archivo de Google Ads
google_ads_path = r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Análisis\rql_inversiones\BD Ads\Abril\14042025\MX BD Ads saturación mensual - GAds.csv"

In [21]:
# Inicializar la clase InvestmentAnalyzer
investment_analyzer = InvestmentAnalyzer(meta_ads_path, google_ads_path, 15)
# Ejecutar el análisis
investment_analyzer.start_analysis()

c:\Users\JTRUJILLO\Documents\Galgo\Scripts\Análisis\rql_inversiones\plataforms\utils\calculate_utils.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['brand_categoria'] = df['brand'].apply(categorizar_marca)

## Tabla de inversión

In [22]:
df_total_investment_plataforms_per_brand = investment_analyzer.get_df_total_investment_plataforms_per_brand(week = 15)
df_total_investment_plataforms_per_brand.head()

        Marca  Semana   Año       Cost
45   Generica      15  2025  204726.93
14      Bajaj      15  2025  154861.19
61      Honda      15  2025   17842.59
147    Yamaha      15  2025   13920.50
131     Vento      15  2025   13715.32

In [23]:
df_generic_invest_distribution = investment_analyzer.get_df_generic_invest_distribution()
df_generic_invest_distribution

  brand_categoria  original_cost  distribute_cost  total_cost
0           Bajaj      154861.19        125110.33   279971.52
1           Vento       13715.32         45494.67    59209.99
2           Honda       17842.59         11373.67    29216.26
3           Otros       23448.56             0.00    23448.56
4         Italika        9690.80         11373.67    21064.47
5             TVS        9662.98         11373.67    21036.65
6           Total      229221.44        204726.01   433947.45

### Generar tabla de inversión

In [24]:
df_investment_per_brands = generate_invest_total(df_generic_invest_distribution, df_total_investment_plataforms_per_brand)

# Asignar el DataFrame de inversión por marcas para poder usarlo en posteriores análisis
investment_analyzer.df_investment_per_brands = df_investment_per_brands

### Generar tabla de shares de inversión

In [25]:
df_shares_investment_per_brand = get_df_share_investment_plataforms_per_brand(df_investment_per_brands)

# Asignar el DataFrame de shares de inversión por marca para poder usarlo en posteriores análisis
investment_analyzer.df_shares_investment_per_brand = df_shares_investment_per_brand

In [27]:
df_investment_per_brands = investment_analyzer.df_investment_per_brands

     Marca       Cost
0    Bajaj  279971.52
1    Vento   59209.99
2    Honda   29216.26
3  Italika   21064.47
4      TVS   21036.65
5   Yamaha   13920.50
6   Suzuki    8594.00
7  CF Moto       0.00
8     Otro     934.06